/* studycircle-frontend/styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Adicione seus estilos globais aqui, se necessário */
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}